@font-face {
  font-family: "KawaiiP360";
  src: url("/src/fonts/nds-true-bios.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "KawaiiP360", sans-serif;
}

.app {
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.desktop {
  width: var(--screen-width);
  height: var(--screen-height);
}

.xp-box {
  border: 2px outset #d6d6d6;
  outline: none;
  background-color: #e4e3e3;
  box-sizing: border-box;
}

.xp-box-light {
  border: 2px outset #d6d6d6;
  outline: none;
  background-color: #e4e3e3;
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-size: 15px;
}

.xp-btn {
  border: 2px outset #d6d6d6;
  outline: none;
  background-color: #e4e3e3;
  box-sizing: border-box;
  padding: 3px 8px;
  cursor: pointer;
  font-size: 15px;
}
.xp-btn:active {
  border: 2px inset #d6d6d6;
}

.xp-vertical-scrollbar-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid greenyellow;
  overflow: hidden;
}
.xp-vertical-scrollbar-container .xp-scrollbar {
  border: 2px outset #d6d6d6;
  outline: none;
  background-color: #e4e3e3;
  box-sizing: border-box;
  height: 100%;
  width: 25px;
  border: 2px solid brown;
}
.xp-vertical-scrollbar-container .xp-scrollbar .xp-scrollbar-thumb {
  border: 2px outset #d6d6d6;
  outline: none;
  background-color: #e4e3e3;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 25px;
  border: 2px solid pink;
  cursor: grab;
  background-color: pink;
}
.xp-vertical-scrollbar-container .xp-scrollbar-body-overlay {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  box-sizing: border-box;
  border: 2px solid pink;
  overflow: scroll;
}
.xp-vertical-scrollbar-container .xp-scrollbar-body-overlay::-webkit-scrollbar {
  display: none;
}
.xp-vertical-scrollbar-container .xp-scrollbar-body-overlay {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.viewport {
  overflow: hidden;
}

.viewport-top-bar {
  display: flex;
  width: 100%;
  height: 25px;
  overflow: hidden;
}

.viewport-body {
  width: 100%;
  height: calc(100% - 25px);
  overflow: hidden;
  position: relative;
}

.viewport-btn__container {
  width: 25px;
  height: 25px;
}

.viewport-drag-handler {
  cursor: grab;
  width: 100%;
  height: 25px;
}

.icon {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: grab;
}

.contact-container {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contact-header" "contact-info";
}
@media (max-width: 768px) {
  .contact-container {
    grid-template-rows: auto auto;
    height: auto;
  }
}

.contact-info {
  grid-area: contact-header;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contact-photo-container contact-header-text-container";
}
@media (max-width: 768px) {
  .contact-info {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
}
.contact-info h2 {
  color: rgb(184, 157, 0);
}

.contact-header-text-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: contact-header-text-container;
}

.contact-info {
  grid-area: contact-info;
  width: 100%;
  height: 100%;
  font-size: 17px;
}
.contact-info a {
  color: rgb(99, 149, 224);
}

.photo-album-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border: 3px solid #d6d6d6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.photo-viewer {
  width: 100%;
  height: 80%;
  border: 1px inset #b3b3b3;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.photo-viewer {
  width: 100%;
  height: 80%;
  border: 2px inset #b3b3b3;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.photo-viewer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumbnail-scroll-bar {
  width: 100%;
  height: 5%;
}

.thumbnail-bar {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #b3b3b3;
  border-top: 2px solid #d6d6d6;
}

.thumbnail {
  margin: 0 5px;
  border: 2px outset #d6d6d6;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}
.thumbnail:active {
  border: 2px inset #d6d6d6;
}

.webcam-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 80% 25%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "webcam-top-bar-container" "webcam-video-container" "webcam-bottom-bar-container";
}

.webcam-video-container {
  grid-area: webcam-video-container;
}

.webcam-video-container {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.webcam-video {
  width: 100%;
  height: 100%;
}

.webcam-top-bar-container {
  background-color: #003399;
  grid-area: webcam-top-bar-container;
}

.webcam-bottom-bar-container {
  grid-area: webcam-bottom-bar-container;
}

.about-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "about-profile-pic about-profile-pic about-info-top-right" "about-profile-pic about-profile-pic about-info-top-right" "about-info-bottom-left about-info-bottom-left about-info-bottom-right";
}

.about-profile-pic {
  width: 100%;
  height: 100%;
  grid-area: about-profile-pic;
}
.about-profile-pic .about-profile-pic-container {
  width: 100%;
  height: 100%;
  background-color: rgb(99, 149, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.about-profile-pic .about-profile-pic-container .about-profile-pic-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.about-info-top-right {
  grid-area: about-info-top-right;
  width: 100%;
  height: 100%;
  position: absolute;
}
.about-info-top-right .about-title {
  width: 100%;
  height: 100%;
  grid-area: about-title;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.about-info-top-right .about-title .about-title-container {
  width: 100%;
  height: 100%;
}
.about-info-bottom-right {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: about-info-bottom-right;
}
.about-info-bottom-right .about-contact-info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.about-info-bottom-right .about-contact-info-container .about-contact-info a {
  color: rgb(99, 149, 224);
}

.about-info-bottom-left {
  display: grid;
  grid-area: about-info-bottom-left;
  border: 2px solid purple;
  position: absolute;
  width: 100%;
  height: 100%;
}