@font-face {
  font-family: "KawaiiP360";
  src: url("/src/fonts/nds-true-bios.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "KawaiiP360", sans-serif;
}

btn {
  border-radius: 0px;
}

.app {
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.desktop {
  width: var(--screen-width);
  height: var(--screen-height);
}

.xp-box {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  box-sizing: border-box;
}

.xp-btn {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
}
.xp-btn:active {
  border: 2px inset rgba(0, 0, 0, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
  outline: none;
}
.xp-btn:hover {
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
}

.xp-vertical-scrollbar-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.xp-vertical-scrollbar-container .xp-scrollbar {
  border: 2px inset rgba(0, 0, 0, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
  outline: none;
  background-color: #e4e4e4;
  height: 100%;
  width: 25px;
}
.xp-vertical-scrollbar-container .xp-scrollbar .xp-scrollbar-thumb {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  width: 25px;
  cursor: grab;
}
.xp-vertical-scrollbar-container .xp-scrollbar .xp-scrollbar-thumb:active {
  border: 2px inset #d6d6d6;
  cursor: grabbing;
}
.xp-vertical-scrollbar-container .xp-scrollbar-body-overlay {
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
  box-sizing: border-box;
  overflow: scroll;
}
.xp-vertical-scrollbar-container .xp-scrollbar-body-overlay::-webkit-scrollbar {
  display: none;
}
.xp-vertical-scrollbar-container .xp-scrollbar-body-overlay {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.viewport {
  overflow: hidden;
}

.viewport-top-bar {
  display: flex;
  width: 100%;
  height: 25px;
  overflow: hidden;
}

.viewport-body {
  width: 100%;
  height: calc(100% - 25px);
  overflow: hidden;
  position: relative;
}

.viewport-btn__container {
  width: 25px;
  height: 25px;
}

.viewport-drag-handler {
  cursor: grab;
  width: 100%;
  height: 25px;
}

.icon {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: grab;
}

.photo-album-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border: 3px solid #d6d6d6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.photo-viewer {
  width: 100%;
  height: 80%;
  border: 1px inset #b3b3b3;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.photo-viewer {
  width: 100%;
  height: 80%;
  border: 2px inset #b3b3b3;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.photo-viewer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumbnail-scroll-bar {
  width: 100%;
  height: 5%;
}

.thumbnail-bar {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #b3b3b3;
  border-top: 2px solid #d6d6d6;
}

.thumbnail {
  margin: 0 5px;
  border: 2px outset #d6d6d6;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}
.thumbnail:active {
  border: 2px inset #d6d6d6;
}

.webcam-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 80% 25%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "webcam-top-bar-container" "webcam-video-container" "webcam-bottom-bar-container";
}

.webcam-video-container {
  grid-area: webcam-video-container;
}

.webcam-video-container {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.webcam-video {
  width: 100%;
  height: 100%;
}

.webcam-top-bar-container {
  background-color: hsl(220, 100%, 30%);
  grid-area: webcam-top-bar-container;
}

.webcam-bottom-bar-container {
  grid-area: webcam-bottom-bar-container;
}

.about-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 10% 40%;
  grid-auto-flow: row;
  grid-template-areas: "about-profile-pic about-profile-pic about-info-top-right" "about-profile-pic about-profile-pic about-info-top-right" "about-info-bottom-left about-info-bottom-left about-info-bottom-right";
  overflow: hidden;
}

.about-profile-pic {
  width: 100%;
  height: 100%;
  position: absolute;
  grid-area: about-profile-pic;
}
.about-profile-pic .about-profile-pic-container {
  width: 100%;
  height: 100%;
  background-color: rgb(99, 149, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
.about-profile-pic .about-profile-pic-container .about-profile-pic-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.about-info-top-right {
  grid-area: about-info-top-right;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.about-info-top-right .about-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  overflow: hidden;
}
.about-info-top-right .about-title .about-title-container {
  width: 100%;
  height: 100%;
}
.about-info-bottom-right {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  grid-area: about-info-bottom-right;
  overflow: hidden;
  font-size: 20px;
  text-align: justify;
}
.about-info-bottom-right .about-contact-info-item {
  height: 30%;
}
.about-info-bottom-right .about-contact-info-container .about-contact-info a {
  color: rgb(99, 149, 224);
  text-decoration: none;
}

.about-info-bottom-left {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  grid-area: about-info-bottom-left;
}