@font-face {
  font-family: "KawaiiP360";
  src: url("/src/fonts/nds-true-bios.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "KawaiiP360", sans-serif;
}

btn {
  border-radius: 0px;
}

.app {
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.desktop {
  width: var(--screen-width);
  height: var(--screen-height);
}

.xp {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  box-sizing: border-box;
  box-sizing: border-box;
}

.xp-btn {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
}
.xp-btn:hover {
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
}

.xp-btn:active {
  border: 2px inset rgba(0, 0, 0, 0.5);
  border-bottom: 2px inset #d6d6d6;
  border-right: 2px inset rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
  outline: none;
}

.xp-selected {
  border: 2px inset rgba(0, 0, 0, 0.5);
  border-bottom: 2px inset #d6d6d6;
  border-right: 2px inset rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
  outline: none;
  border-style: groove;
}

.xp-padded-container {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
}

.xp-shadow {
  border: 2px inset rgba(0, 0, 0, 0.5);
  border-bottom: 2px inset #d6d6d6;
  border-right: 2px inset rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
  outline: none;
  background-color: #e4e4e4;
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
}

.xp-scrollable-container-v-and-h::-webkit-scrollbar,
.xp-scrollable-container-vertical::-webkit-scrollbar,
.xp-scrollable-container-horizontal::-webkit-scrollbar,
.xp-scrollable-vertical-body-overlay::-webkit-scrollbar,
.xp-scrollable-horizontal-body-overlay::-webkit-scrollbar,
.xp-scrollable-v-and-h-body-overlay::-webkit-scrollbar {
  display: none;
}

.xp-vertical-scrollbar {
  border: 2px inset rgba(0, 0, 0, 0.5);
  border-bottom: 2px inset #d6d6d6;
  border-right: 2px inset rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
  outline: none;
  background-color: #e4e4e4;
  height: 100%;
  width: 25px;
  box-sizing: border-box;
}

.xp-vertical-scrollbar-thumb {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  position: absolute;
  box-sizing: border-box;
  cursor: grab;
}
.xp-vertical-scrollbar-thumb:active {
  border: 2px inset #d6d6d6;
  cursor: grabbing;
}
.xp-vertical-scrollbar-thumb {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.xp-horizontal-scrollbar {
  border: 2px inset rgba(0, 0, 0, 0.5);
  border-bottom: 2px inset #d6d6d6;
  border-right: 2px inset rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  box-shadow: 15px 27px 115px -22px #b3b3b3 inset;
  outline: none;
}
.xp-horizontal-scrollbar {
  background-color: #e4e4e4;
  width: 100%;
  height: 25px;
}

.xp-horizontal-scrollbar-thumb {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  position: absolute;
  box-sizing: border-box;
  cursor: grab;
}
.xp-horizontal-scrollbar-thumb:active {
  border: 2px inset #d6d6d6;
  cursor: grabbing;
}
.xp-horizontal-scrollbar-thumb {
  height: 25px;
  width: 100%;
}

.xp-scrollable-container-vertical {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 25px;
  grid-template-rows: 1fr;
  grid-template-areas: "xp-scrollable-vertical-body-overlay xp-scrollbar-vertical-container";
}
.xp-scrollable-container-vertical .xp-scrollable-vertical-body-overlay,
.xp-scrollable-container-vertical .xp-scrollbar-vertical-container {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
}
.xp-scrollable-container-vertical .xp-scrollable-vertical-body-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  grid-area: xp-scrollable-vertical-body-overlay;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}
.xp-scrollable-container-vertical .xp-scrollbar-vertical-container {
  grid-area: xp-scrollbar-vertical-container;
}

.xp-scrollable-container-v-and-h {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  grid-template-columns: 1fr 25px;
  grid-template-rows: 1.3fr 25px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "xp-scrollable-v-and-h-body-overlay xp-scrollbar-v-and-h-vertical" "xp-scrollbar-v-and-h-horizontal xp-bottom-corner-divider";
}
.xp-scrollable-container-v-and-h .xp-scrollable-v-and-h-body-overlay,
.xp-scrollable-container-v-and-h .xp-scrollbar-v-and-h-vertical,
.xp-scrollable-container-v-and-h .xp-scrollbar-v-and-h-horizontal,
.xp-scrollable-container-v-and-h .xp-bottom-corner-divider {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
}
.xp-scrollable-container-v-and-h .xp-scrollable-v-and-h-body-overlay {
  grid-area: xp-scrollable-v-and-h-body-overlay;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.xp-scrollable-container-v-and-h .xp-scrollbar-v-and-h-vertical {
  grid-area: xp-scrollbar-v-and-h-vertical;
}
.xp-scrollable-container-v-and-h .xp-scrollbar-v-and-h-horizontal {
  grid-area: xp-scrollbar-v-and-h-horizontal;
}
.xp-scrollable-container-v-and-h .xp-bottom-corner-divider {
  grid-area: xp-bottom-corner-divider;
}

.xp-scrollable-container-horizontal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr 25px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "xp-scrollable-horizontal-body-overlay" "xp-scrollbar-container-horizontal";
  overflow: hidden;
}
.xp-scrollable-container-horizontal .xp-scrollbar-container-horizontal,
.xp-scrollable-container-horizontal .xp-scrollable-horizontal-body-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.xp-scrollable-container-horizontal .xp-scrollable-horizontal-body-overlay {
  overflow: scroll;
  grid-area: xp-scrollable-horizontal-body-overlay;
}
.xp-scrollable-container-horizontal .xp-scrollbar-container-horizontal {
  grid-area: xp-scrollbar-container-horizontal;
  height: 25px;
  width: 100%;
  box-sizing: border-box;
}

.viewports {
  width: 100%;
  height: 100%;
}

.viewport {
  overflow: hidden;
}

.viewport-top-bar {
  display: flex;
  width: 100%;
  height: 25px;
  overflow: hidden;
}

.viewport-body {
  width: 100%;
  height: calc(100% - 25px);
  overflow: hidden;
  position: relative;
}

.viewport-btn__container {
  width: 25px;
  height: 25px;
}

.viewport-drag-handler {
  cursor: grab;
  width: 100%;
  height: 25px;
}

.icon {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: grab;
}

.photos-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "photo-viewer" "photo-thumbnail-list";
}
.photos-container .photo-thumbnail-list,
.photos-container .photo-viewer {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
}
.photos-container .photo-viewer {
  position: absolute;
  grid-area: photo-viewer;
  background-color: black;
}
.photos-container .photo-viewer .photo-viewer-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.photos-container .photo-thumbnail-list {
  grid-area: photo-thumbnail-list;
}
.photos-container .photo-thumbnail-list .photo-thumbnail-images {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.photos-container .photo-thumbnail-list .photo-thumbnail-images .photo-thumbnail-item {
  flex: 0 0 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.photos-container .photo-thumbnail-list .photo-thumbnail-images .photo-thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.webcam-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 80% 25%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "webcam-top-bar-container" "webcam-video-container" "webcam-bottom-bar-container";
}

.webcam-video-container {
  grid-area: webcam-video-container;
}

.webcam-video-container {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.webcam-video {
  width: 100%;
  height: 100%;
}

.webcam-top-bar-container {
  background-color: hsl(220, 100%, 30%);
  grid-area: webcam-top-bar-container;
}

.webcam-bottom-bar-container {
  grid-area: webcam-bottom-bar-container;
}

.about-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 10% 40%;
  grid-auto-flow: row;
  grid-template-areas: "about-profile-pic about-profile-pic about-info-top-right" "about-profile-pic about-profile-pic about-info-top-right" "about-info-bottom-left about-info-bottom-left about-info-bottom-right";
  overflow: hidden;
}

.about-profile-pic {
  width: 100%;
  height: 100%;
  position: absolute;
  grid-area: about-profile-pic;
}
.about-profile-pic .about-profile-pic-container {
  width: 100%;
  height: 100%;
  background-color: rgb(99, 149, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
.about-profile-pic .about-profile-pic-container .about-profile-pic-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.about-info-top-right {
  grid-area: about-info-top-right;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.about-info-top-right .about-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  overflow: hidden;
}
.about-info-top-right .about-title .about-title-container {
  width: 100%;
  height: 100%;
}
.about-info-bottom-right {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  grid-area: about-info-bottom-right;
  overflow: hidden;
  font-size: 20px;
  text-align: justify;
}
.about-info-bottom-right .about-contact-info-item {
  height: 30%;
}
.about-info-bottom-right .about-contact-info-container .about-contact-info a {
  color: rgb(99, 149, 224);
  text-decoration: none;
}

.about-info-bottom-left {
  width: 100%;
  height: 100%;
  position: absolute;
  grid-area: about-info-bottom-left;
  box-sizing: border-box;
}
.about-info-bottom-left .about-description {
  box-sizing: border-box;
  width: 100%;
}

.draw-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 70% 20%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "draw-box-top draw-box-top draw-box-top" "draw-box-left draw-box-center draw-box-right" "draw-box-bottom draw-box-bottom draw-box-bottom";
}

.draw-box-center,
.draw-box-top,
.draw-box-left,
.draw-box-right,
.draw-box-bottom {
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: 2px outset #d6d6d6;
  border-right: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #e4e4e4;
  outline: none;
  box-sizing: border-box;
}
.draw-box-center,
.draw-box-top,
.draw-box-left,
.draw-box-right,
.draw-box-bottom {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.draw-box-center {
  grid-area: draw-box-center;
  overflow: hidden;
}
.draw-box-center .draw-canvas-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.draw-box-center canvas {
  width: 100%;
  height: 100%;
}

.draw-box-top {
  grid-area: draw-box-top;
}

.draw-box-left {
  grid-area: draw-box-left;
  position: absolute;
}
.draw-box-left .draw-tools-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.draw-box-left .draw-tools-container .draw-tool-btn {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.draw-box-left .draw-tools-container .draw-tool-btn .draw-tool-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.draw-box-right {
  grid-area: draw-box-right;
}

.draw-box-bottom {
  grid-area: draw-box-bottom;
}

.snake {
  width: 100%;
  height: 100%;
}

.snake * {
  box-sizing: border-box;
}

.snake-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 85%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "snake-topbar" "snake-grid";
}

.snake-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  grid-auto-flow: row;
  grid-area: snake-grid;
  color: #111;
  text-align: center;
}

.snake-grid-cell {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.snake-grid-cell .snake-game-fruit-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.snake-game-emoji {
  font-size: 1em;
  width: auto;
  text-size-adjust: 100%;
  height: auto;
}

.snake-topbar {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.snake-score,
.snake-high-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snake-score-label {
  font-size: 1em;
}

.snake-score div,
.snake-high-score div {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.desktop-container {
  width: 100%;
  height: 100%;
}

.desktop-center,
.desktop-top-bar,
.desktop-bottom-bar {
  position: absolute;
  width: 100%;
}

.desktop-center {
  width: 100%;
  position: absolute;
  box-sizing: border-box;
}
.desktop-center .desktop-icons {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
}
.desktop-center .desktop-icons .desktop-icon-container {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.desktop-center .desktop-icons .desktop-icon-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.desktop-center .desktop-icons .desktop-icon-container .desktop-icon-label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.desktop-center .desktop-icons .desktop-icon-container img:hover {
  animation: spin 1s linear infinite;
}

.desktop-top-bar {
  top: 0;
}

.desktop-bottom-bar {
  bottom: 0px;
  z-index: 100;
  box-sizing: border-box;
}
.desktop-bottom-bar .desktop-start-menu {
  position: absolute;
  width: 100%;
  height: 100%;
}
.desktop-bottom-bar .desktop-start-menu .desktop-start-menu-btn {
  height: 100%;
  display: flex;
  text-align: center;
  z-index: 102;
  box-sizing: border-box;
}
.desktop-bottom-bar .desktop-start-menu .desktop-start-menu-contents-container {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.desktop-bottom-bar .desktop-start-menu .desktop-start-menu-contents-container .desktop-start-menu-items-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 5px solid black;
}
.desktop-bottom-bar .desktop-start-menu .desktop-start-menu-contents-container .desktop-start-menu-items {
  box-sizing: border-box;
  border: 3px solid pink;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 30px;
}
.desktop-bottom-bar .desktop-start-menu .desktop-start-menu-contents-container .desktop-start-menu-items .desktop-start-menu-item {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}