
.about-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 25% 25%; 
    grid-template-rows: 50% 10% 40%;
    grid-auto-flow: row;
    grid-template-areas:
        "about-profile-pic about-profile-pic about-info-top-right"
        "about-profile-pic about-profile-pic about-info-top-right"
        "about-info-bottom-left about-info-bottom-left about-info-bottom-right";
    overflow: hidden;
}

.about-profile-pic {
    width: 100%;
    height: 100%;
    position: absolute;
    grid-area: about-profile-pic;

    .about-profile-pic-container {
        width: 100%;
        height: 100%;
        background-color: $sky_blue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        overflow: hidden;
        .about-profile-pic-image {
            width: 100%;
            height: auto;
            max-width: 100%;
            object-fit: contain;
        }
    }
}

.about-info-top-right {
    grid-area: about-info-top-right;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;

    .about-title {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        overflow: hidden;

        .about-title-container {
            width: 100%;
            height: 100%;
            .about-title-name {}
            .about.title-age {}
        }
    }
}

.about-info-bottom-right {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    grid-area: about-info-bottom-right;
    overflow: hidden;
    font-size: 20px;
    text-align: justify;
    .about-contact-info-item {
        height: 30%;
    }
    .about-contact-info-container { 
        .about-contact-info {
            a {
                color: $sky_blue;
                text-decoration: none;
            }
        }
    }
}

.about-info-bottom-left {
    width: 100%;
    height: 100%;
    position: absolute;
    grid-area: about-info-bottom-left;
    .about-description {
        width: 100%;
        height: 100%;
        // position: absolute;
    }

}