.desktop-container {
    // position: absolute;
    width: 100%;
    height: 100%;
}

.desktop-center,
.desktop-top-bar,
.desktop-bottom-bar {
    position: absolute;
    width: 100%;
}

.desktop-center {}

.desktop-top-bar {
    top: 0;
}

.desktop-bottom-bar {
    bottom: 0px;
    z-index: 100;
    box-sizing: border-box;

    .desktop-start-menu {
        height: 100%;

        .desktop-start-menu-btn {
            height: 100%;
            display: flex;
            text-align: center;
            z-index: 102;
            box-sizing: border-box;

        }

        .desktop-start-menu-contents-container {
            display: none;
            position: absolute;
            width: 100%;
            bottom: 100%;
            box-sizing: border-box;

            overflow: scroll;

            .desktop-start-menu-contents {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                border: 5px solid black
            }

            .desktop-start-menu-item {
                width: 100%;
                display: flex;
                font-size: 30px;
            }
        }
    }
}