.desktop-container {
    // position: absolute;
    width: 100%;
    height: 100%;
}

.desktop-center,
.desktop-top-bar,
.desktop-bottom-bar {
    position: absolute;
    width: 100%;
}

.desktop-center {
    width: 100%;
    position: absolute;
    box-sizing: border-box;

    .desktop-icons {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: grid;

        .desktop-icon-container {
            box-sizing: border-box;
            width: 100px;
            height: 100px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .desktop-icon-label {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }
        }

        .desktop-icon-container img:hover {
            animation: spin 1s linear infinite;
        }
    }
}

.desktop-top-bar {
    top: 0;

    .desktop-topbar-clock {
        position: absolute;
        right: 0;
        top: 0;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

.desktop-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .desktop-background-canvas {
        width: 100%;
        height: 100%;
        background-color: aqua;
    }
}

.desktop-bottom-bar {
    bottom: 0px;
    box-sizing: border-box;
    display: flex;


    .desktop-start-menu {
        position: absolute;
        height: 100%;
        left: 0;
        .desktop-start-menu-btn {
            height: 100%;
            display: flex;
            text-align: center;
            z-index: 102;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            font-size: 200%;
        }

        .desktop-start-menu-contents-container {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 100%;
            height: 200px;
            box-sizing: border-box;



            .desktop-start-menu-items-container {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                padding: 10px;
                position: absolute;

            }

            .desktop-start-menu-item {
                box-sizing: border-box;
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .desktop-start-menu-item-icon {
                width: 30%;
                height: 100%;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .desktop-start-menu-item-label {
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                font-weight: bold;
                font-size: 30px;
                overflow: hidden;
            }

            .desktop-start-menu-items {
                box-sizing: border-box;
                border: 3px solid pink;
                width: 100%;
                height: 100%;
                position: absolute;
                font-size: 30px;
            }
        }
    }

    .desktop-dashboard {
        position: absolute;
        display: flex;
        box-sizing: border-box;
        .desktop-dashboard-minimized-item {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            overflow-y: hidden;
            overflow-x: scroll;
        }

        .desktop-dashboard-minimized-item-icon {
            width: 30%;
            height: 100%;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .desktop-dashboard-minimized-item-label {
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            font-weight: bold;
            font-size: 30px;
            overflow: hidden;
        }
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}