.draw-container {
    position: absolute;
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 70% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "draw-box-top draw-box-top draw-box-top"
        "draw-box-left draw-box-center draw-box-right"
        "draw-box-bottom draw-box-bottom draw-box-bottom";
}
.draw-box-center,
.draw-box-top,
.draw-box-left,
.draw-box-right {
    @include xp;
    width: 100%;
    height: 100%;
    position: absolute;

}
.draw-box-center {
    grid-area: draw-box-center;
    width: 100%;
    height: 100%;
    position: absolute;
    .draw-canvas-overlay {
        width: 100%;
        height: 100%;
    }
    canvas {
    }

}

.draw-box-top {
    grid-area: draw-box-top;
}

.draw-box-left {
    grid-area: draw-box-left;

    .draw-tools-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .draw-tool-btn {
            width: 100%;
            height: 100%;
            overflow: hidden;

            .draw-tool-icon {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.draw-box-right {
    grid-area: draw-box-right;
}

.draw-box-bottom {
    grid-area: draw-box-bottom;
}