.photos-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "photo-viewer"
        "photo-thumbnail-list";

    .photo-thumbnail-list,
    .photo-viewer {
        @include xp;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .photo-viewer {
        position: absolute;
        grid-area: photo-viewer;
        background-color: black;
        .photo-viewer-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
    .photo-thumbnail-list {
        grid-area: photo-thumbnail-list;
        .photo-thumbnail-images {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
        
            .photo-thumbnail-item {
                flex: 0 0 10%;
                height: 100%; 
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }
            .photo-thumbnail {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        
    }


}
