.viewport {
    overflow: hidden;
}

.viewport-top-bar {
    display: flex;
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.viewport-body {
    width: 100%;
    height: calc(100% - 25px);
    overflow: hidden;
    position: relative;
}

.viewport-btn__container {
    width: 25px;
    height: 25px;
}

.viewport-drag-handler {
    cursor: grab;
    width: 100%;
    height: 25px;
}