
$xp-gray: #e4e4e4;
$xp-light-gray: #f0f0f0;
$xp_blue: hsl(220, 100%, 30%);
$xp-gray-shadow: #e4e3e3;
$xp-medium-gray: #d9d9d9;
$xp_dark_gray: #b3b3b3;
$xp_border: #d6d6d6;
$xp-dark-btn-border: rgba(0,0,0,.5);
$color-lightener: rgba(255,255,255,.5);
$color-darkener: rgba(0, 0, 0, 0.5);


@mixin xp-outset {
    border: 2px outset $color-lightener;
    border-bottom: 2px outset $xp-border;
	border-right: 2px outset $xp-dark-btn-border;  
    border-radius: 0px;
    background-color: $xp-gray; 
    outline: none;
}

@mixin xp-inset {
    border: 2px inset $color-darkener;
    border-bottom: 2px outset $xp-border;
	border-right: 2px outset $xp-dark-btn-border;   
    background-color: $xp-medium-gray;
    box-shadow: 15px 27px 115px -22px $xp-dark-gray inset;
    outline: none;
}
@mixin xp {
    @include xp-outset;
    box-sizing: border-box;
}

.xp-box {
    @include xp;
}

.xp-btn {
    @include xp-outset;
    cursor: pointer;
	text-transform: uppercase;
	width: auto;

    &:active {
        @include xp-inset;
    }
	&:hover {
        box-shadow: 15px 27px 115px -22px $xp-dark-gray inset;
	}

}

.xp-vertical-scrollbar-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .xp-scrollbar {
        @include  xp-inset;
        background-color: $xp-gray;
        height: 100%;
        width: 25px;
        .xp-scrollbar-thumb {
            @include xp-outset;
            position: absolute;
            box-sizing: border-box;
            top: 0px;
            width: 25px;
            cursor: grab;
            &:active {
                border: 2px inset $xp_border;
                cursor:grabbing;
            }
        }
    }

    .xp-scrollbar-body-overlay {
        width: 100%;
        height: 100%;
        background-color: $xp-gray;
        box-sizing: border-box;
        overflow: scroll;
    }
    .xp-scrollbar-body-overlay::-webkit-scrollbar {
        display: none;
      }
      .xp-scrollbar-body-overlay {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

    .xp-scrollbar-body {

    }
}