$xp-gray: #e4e4e4;
$xp-light-gray: #f0f0f0;
$xp_blue: hsl(220, 100%, 30%);
$xp-gray-shadow: #e4e3e3;
$xp-medium-gray: #d9d9d9;
$xp_dark_gray: #b3b3b3;
$xp_border: #d6d6d6;
$xp-dark-btn-border: rgba(0, 0, 0, .5);
$color-lightener: rgba(255, 255, 255, .5);
$color-darkener: rgba(0, 0, 0, 0.5);


@mixin xp-outset {
    border: 2px outset $color-lightener;
    border-bottom: 2px outset $xp-border;
    border-right: 2px outset $xp-dark-btn-border;
    border-radius: 0px;
    background-color: $xp-gray;
    outline: none;
}

@mixin xp-inset {
    border: 2px inset $color-darkener;
    border-bottom: 2px inset $xp-border;
    border-right: 2px inset $xp-dark-btn-border;
    background-color: $xp-medium-gray;
    box-shadow: 15px 27px 115px -22px $xp-dark-gray inset;
    outline: none;
}

@mixin xp {
    @include xp-outset;
    box-sizing: border-box;
}


@mixin xp-scrollbar-thumb {
    @include xp-outset;
    position: absolute;
    box-sizing: border-box;
    cursor: grab;

    &:active {
        border: 2px inset $xp_border;
        cursor: grabbing;
    }
}

.xp {
    @include xp;
    box-sizing: border-box
}
.xp-btn {
    @include xp-outset;
    cursor: pointer;
    text-transform: uppercase;
    width: auto;

    &:hover {
        box-shadow: 15px 27px 115px -22px $xp-dark-gray inset;
    }

}

.xp-btn:active {
    @include xp-inset;
}
.xp-selected {
    @include xp-inset;
    border-style: groove;
}

.xp-padded-container {
    @include xp;
    padding: 10px;
}

.xp-shadow {
    @include xp-inset;
    background-color: $xp-gray;
    box-shadow: 15px 27px 115px -22px $xp-dark-gray inset;
}

.xp-scrollable-container-v-and-h::-webkit-scrollbar,
.xp-scrollable-container-vertical::-webkit-scrollbar,
.xp-scrollable-container-horizontal::-webkit-scrollbar,
.xp-scrollable-vertical-body-overlay::-webkit-scrollbar,
.xp-scrollable-horizontal-body-overlay::-webkit-scrollbar,
.xp-scrollable-v-and-h-body-overlay::-webkit-scrollbar {
    display: none;
}


.xp-vertical-scrollbar {
    @include xp-inset;
    background-color: $xp-gray;
    height: 100%;
    width: 25px;
    box-sizing: border-box;
}


.xp-vertical-scrollbar-thumb {
    @include xp-scrollbar-thumb;
    & {
    
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }
}

.xp-horizontal-scrollbar {
    @include xp-inset;
    & {
        background-color: $xp-gray;
        width: 100%;
        height: 25px;
    }
}

.xp-horizontal-scrollbar-thumb {
    @include xp-scrollbar-thumb;
    & {
        height: 25px;
        width: 100%;
    }
}

.xp-scrollable-container-vertical {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "xp-scrollable-vertical-body-overlay xp-scrollbar-vertical-container";


    .xp-scrollable-vertical-body-overlay,
    .xp-scrollbar-vertical-container {
        @include xp;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .xp-scrollable-vertical-body-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        grid-area: xp-scrollable-vertical-body-overlay;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: scroll;
    }

    .xp-scrollbar-vertical-container {
        grid-area: xp-scrollbar-vertical-container;
    }
}

.xp-scrollable-container-v-and-h {
    @include xp;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 1.3fr 25px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "xp-scrollable-v-and-h-body-overlay xp-scrollbar-v-and-h-vertical"
        "xp-scrollbar-v-and-h-horizontal xp-bottom-corner-divider";

    .xp-scrollable-v-and-h-body-overlay,
    .xp-scrollbar-v-and-h-vertical,
    .xp-scrollbar-v-and-h-horizontal,
    .xp-bottom-corner-divider {
        @include xp;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .xp-scrollable-v-and-h-body-overlay {
        grid-area: xp-scrollable-v-and-h-body-overlay;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .xp-scrollbar-v-and-h-vertical {
        grid-area: xp-scrollbar-v-and-h-vertical;
    }

    .xp-scrollbar-v-and-h-horizontal {
        grid-area: xp-scrollbar-v-and-h-horizontal;
    }

    .xp-bottom-corner-divider {
        grid-area: xp-bottom-corner-divider;
    }
    
}


.xp-scrollable-container-horizontal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 25px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "xp-scrollable-horizontal-body-overlay"
        "xp-scrollbar-container-horizontal";
    overflow: hidden;

    .xp-scrollbar-container-horizontal,
    .xp-scrollable-horizontal-body-overlay {
        // @include xp;
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .xp-scrollable-horizontal-body-overlay {
        overflow: scroll;
        grid-area: xp-scrollable-horizontal-body-overlay;
    }
    
    .xp-scrollbar-container-horizontal {
        grid-area: xp-scrollbar-container-horizontal;
        height: 25px;
        width: 100%;
        box-sizing: border-box;
    
    }
}


.xp-menu-container {
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0px;
    // border: 2px outset cyan;
    .xp-menu-btn {
        @include center;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
    }
    .xp-menu-items-container {
        @include xp;
        position: absolute;
        width: 100%;
        
        .xp-menu-items {
            display: flex;
            flex-direction: column;
        }
        .xp-menu-item {
            @include center;
        }
    }
}